#tweet-capture-pending {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: white;
    padding: 0.7em 1em;
    background-color: red;
    width: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    border: 0 0 14px 14px;
    transform: translate(0, -100%);
    transition: transform 0.5s;
}

#tweet-capture-pending.init {
    transition: none;
}

#tweet-capture-pending.show {
    transform: translate(0, 0);
}

article {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}